@charset "UTF-8";

.btbl {
    margin: 0 0 40px;
    text-align: center;
    border-top: 1px solid #282e38;
    font-size: 14px;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.btbl thead th:first-child, .btbl td:first-child {
    border-left: 0;
}

.btbl thead th {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background: #f7f7f7;
    padding: 15px;
    color: #111;
    font-weight: 400;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.btbl td {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 10px;
    line-height: 22px;
}

td.tl {
    text-align: left;
}

.cbtn {
    margin: 60px 0;
    text-align: center;
}

.mbtn.grey {
    background: #2e3133;
    border: 1px solid #2e3133;
    color: #fff!important;
}

.mbtn {
    display: inline-block;
    padding: 14px 34px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #232323;
    vertical-align: middle;
    margin: 0 3px;
}

.cbtn input[type="submit"] {cursor: pointer;}