@charset "UTF-8";

.ftbl {
    border-top: 1px solid #282e38;
    margin: 0 0 40px;
    font-size: 14px;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.ftbl th {
    text-align: left;
    padding: 12px 15px;
    line-height: 32px;
    font-weight: 400;
    border-bottom: 1px solid #e7e7e7;
    color: #111;
    background: #f7f7f7;
}

.ftbl td {
    text-align: left;
    padding: 12px 15px;
    line-height: 32px;
    border-bottom: 1px solid #e7e7e7;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td.cmt {
    padding: 40px 30px;
    text-align: left;
    line-height: 28px;
}

.cbtn {
    margin: 60px 0;
    text-align: center;
}

.mbtn {
    display: inline-block;
    padding: 14px 34px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #232323;
    vertical-align: middle;
    margin: 0 3px;
}
