@charset "UTF-8";
.header {
    width: 100%;
    position:relative;
}

/* TOP 메뉴 */
.tWrap {
    width: 1080px;
    padding: 20px 0;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.tmenu {
    position: absolute;
    top: 44px;
    right: 0;
    overflow: hidden;
}

.tmenu a {
    padding: 0 0 0 12px;
    color: #111;
}

/* 메뉴 부분 */
.meWrap {
    width: 100%;
    height: 60px;
    border-top: 1px
    solid #ededed;
    border-bottom: 1px solid #adadad;
}

.menu {
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    line-height: 60px;
    text-align: center;
}

.menu a {
    font-size: 18px;
    font-weight: 500;
    display: block;
    float: left;
    width: 154px;
    position: relative;
}

A:link {
    text-decoration: none;
    color: #444;
}
A:active{
	color: #444;
}
/* smeWrap */
.smeWrap {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 152px;
    background: #fff;
    border-bottom: 1px solid #adadad;
    visibility: hidden;
}
.meWrap:hover .smeWrap{
	visibility:visible;
	    width: 100%;
}
.smenu {
    margin: 0 auto;
    z-index: 100;
    width: 1079px;
    border-right: 1px solid #eee;
}

.smenu ul {
    padding: 30px;
    border-left: 1px solid #eee;
    float: left;
    width: 93px;
    min-height: 150px;
    text-align: center;
    letter-spacing: -1px;
    list-style: none;
}

.smenu ul li{

    padding-bottom:20px;
}

